<div>
    <mat-toolbar class="toolbar" style="width: 100%;">
        <img class="img-fluid" src='../../../assets/img/logo_wh_32.png'>
        <span>easyWaitlist</span>
        <span class="example-spacer"></span>
    </mat-toolbar>

    <mat-progress-bar mode="indeterminate" *ngIf="showProgressBar"></mat-progress-bar>

    <div class="center" *ngIf=" !waitTimeOver && !disableUi && showUi" >
        <h3>Hi {{name}},
            <br>
            Welcome to {{placeName}}
            <br>
            You're in the waiting and will be served soon</h3>
        <br>
        <br>
        <button mat-mini-fab style="color: white;" >{{waiting_no}}</button>
        <br>
        <br>
        <p>Please track your turn here.</p>
    </div>

    <div id="notfound" *ngIf="disableUi && showUi" >
		<div class="notfound">
			<div class="notfound-404">
				<h3>Oops! Page not found</h3>
				<h1><span>4</span><span>0</span><span>4</span></h1>
			</div>
			<h2>we are sorry, but the page you requested was not found</h2>
            <h2>Please check your internet connection and refresh the page</h2>
		</div>
	</div>

    <div id="notfound" *ngIf="waitTimeOver && showUi" >
		<div class="notfound">
			<div class="notfound-404">
				<h3>Kudos {{name}}</h3>
                <h2>Your wait time is over, you're no longer in the waiting.</h2>
			</div>
		</div>
	</div>

</div>

<div class="bottomBar">
    <div style="float:left;text-align:center;width:100%;">&copy; 2021 easyWaitlist. All rights reserved.</div>
    <div style="clear:both;"></div>
</div>