@import '../../../styles.scss';

.toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  font-family: 'Cabin', sans-serif !important;
}

.example-card {
    max-width: 100%;
    margin: 1%;
  }

.example-spacer {
    flex: 1 1 auto;
}

.aligned-with-icon{
    position: absolute;
    margin-top: 2.5px;
    margin-left: 5px; /* optional */
}

.mat-card-subtitle{
    margin-bottom: 0px;
}

.mat-card-content{
    margin: 0 16px;
}
.mat-menu-content {
     padding-top: 0px; 
     padding-bottom: 0px; 
}
::ng-deep .mat-card-header-text {
    width: 100%;
    text-align: left; 
    margin: 0 5px !important;
}
::ng-deep .mat-card-content {
    margin: 0 5px !important;
}

// for swipeable cards

html,
body {
  margin: 0;
  padding: 0;
  background: #FAFAFA;
  font-size: 30px;
  color: #333;
}
* {
  box-sizing: border-box;
}
.card-container {
  width: 100%;
  margin: 0 auto;
}
.card {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
  
.freezed {
  pointer-events: none
}

// ::ng-deep .mat-progress-bar-fill::after {
//   background-color: red;
// }

::ng-deep .mat-progress-bar-fill::after {
  background-color: #3e515b;
}

::ng-deep .mat-progress-bar-buffer {
  background: #c2cfd6;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.bottomBar {
  overflow: hidden;
  background-color: #d5d5d5;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.img-fluid {
  // max-width: 3% !important;
  margin-right: 1.5% !important;
}

// Error 404 css - Start

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 240px;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  color: #262626;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound-404 h1>span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #262626;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-top: 0px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 200px;
  }
  .notfound .notfound-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 162px;
  }
  .notfound .notfound-404 h1 {
    font-size: 162px;
    height: 150px;
    line-height: 162px;
  }
  .notfound h2 {
    font-size: 16px;
  }
}

// Error- 404 css end