@import '../../../styles.scss';

.toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  font-family: 'Cabin', sans-serif !important;
}

.example-card {
    max-width: 100%;
    margin: 1%;
  }

.example-spacer {
    flex: 1 1 auto;
}

.aligned-with-icon{
    position: absolute;
    margin-top: 2.5px;
    margin-left: 5px; /* optional */
}

.mat-card-subtitle{
    margin-bottom: 0px;
}

.mat-card-content{
    margin: 0 16px;
}
.mat-menu-content {
     padding-top: 0px; 
     padding-bottom: 0px; 
}
::ng-deep .mat-card-header-text {
    width: 100%;
    text-align: left; 
    margin: 0 5px !important;
}
::ng-deep .mat-card-content {
    margin: 0 5px !important;
}

// for swipeable cards

html,
body {
  margin: 0;
  padding: 0;
  background: #FAFAFA;
  font-size: 30px;
  color: #333;
}
* {
  box-sizing: border-box;
}
.card-container {
  width: 100%;
  margin: 0 auto;
}
.card {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}
  
.freezed {
  pointer-events: none
}

// ::ng-deep .mat-progress-bar-fill::after {
//   background-color: red;
// }

::ng-deep .mat-progress-bar-fill::after {
  background-color: #3e515b;
}

::ng-deep .mat-progress-bar-buffer {
  background: #c2cfd6;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}